@use './variables' as *;
@use './mixins' as *;

.list__item {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;

    .list__actions {
        width: 32px;
        height: 32px;
        background: $hover-text-color;
        border-radius: 50%;
        @include flex-center;
    }
}

.photo-list {
    display: grid;
    justify-content: center;
    gap: 42px;
    grid-template-columns: repeat(auto-fill, 150px);
}

.image {
    max-width: 100%;
}

.full-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-direction-column {
    flex-direction: column;
}

@media (max-width: 560px) {
    .list__item {
        padding: 20px 0;
        gap: 18px;
    }

    .photo-list {
        gap: 20px;
        grid-template-columns: repeat(auto-fill, 130px);
    }
}

@media (max-width: 380px) {
    .photo-list {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, 120px);
    }
}